.container {
  width: 100%;

  border-top: 1px solid var(--gray-400);
}

.empty {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  padding: 4rem 0;
}

.clipboard {
  width: 3.5rem;
  height: 3.5rem;

  color: var(--gray-400);
}

.emptyDescription {
  color: var(--gray-300);
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


